<!DOCTYPE html>
<html class="fsvs">
<head>
    <title>{% block title %}Mk{% endblock %}</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="MobileOptimized" content="320">
    <meta name="format-detection" content="telephone=no">
    <link type="text/css" rel="stylesheet" href="/css/base.css"/>
    {% block css %} {% endblock %}
    <script type="text/javascript" src="/js/common/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="/js/common/effects-mk.js"></script>
</head>
<body>
{% block body %}

{% endblock %}
</body>
</html>